<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Guest form</title>
  <link href="../assets/styles/bootstrap.min.css" rel="stylesheet">
  <style>
    #guest {
      margin-top: 30px;
    }
  </style>
</head>
<body>

<div id="guest" class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form>
          <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="text" v-model="email">
          </div>
          <div class="form-group">
            <label>First Name</label>
            <input class="form-control" type="text" v-model="firstName">
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input class="form-control" type="text" v-model="lastName">
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input class="form-control" type="text" v-model="phone">
          </div>
          
          <div class="form-group">
            <label>Guests</label>
            <input
                class="btn btn-primary"
                type="button"
                value="+"
                @click="addGuest"
            >
          </div>
  
          <div v-show="guests.length">
            <div
                class="form-group"
                v-for="(guest, index) in guests"
            >
              <label>Guest {{ index }}</label>
              <input
                  class="form-control"
                  type="text"
                  v-model="guests[ index ]"
              >
            </div>
          </div>
          
          <hr>
          
          <button class="btn btn-success">Send Data</button>
        </form>
    </div>
  </div>
</div>


<script src="../assets/scripts/vue.js"></script>
<script src="./src/index.js"></script>
</body>
</html>