<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Fraction calculator</title>
  <style>
    form {
      display: inline-block;
      margin: 0 auto;
    }
    input { width: 4em; }

    .data-in {
      display: inline-block;
      position: relative;
      margin-bottom: 12px;
    }
    .fraction {
      display: inline-block;
      vertical-align: middle;
      margin: 0 1em;
    }

    .action-bottom-wrapper {
      width: 265px;
    }
    .action-bottom {
      display: block;
      margin: 0 15px;
      padding: 2px 0;
      cursor: pointer;
      text-decoration: underline;
    }
    .action-bottom input {
      margin: 0;
      width: 20px;
    }

    .error {
      margin-left: 15px;
      color: red;
    }

    .close{
      position: absolute;
      top: 66px;
      right: 40px;
      width: 15px;
      height: 15px;
      cursor: pointer;
      transition: 1s;
    }

    .close:before,
    .close:after {
      content: "";
      position: absolute;
      top: 6px;
      width: 16px;
      height: 4px;
      background: #e62f57;
    }
    .close:before { transform: rotate(45deg); }
    .close:after { transform: rotate(-45deg); }

    .close:hover { transform: rotate(180deg); }

    .fraction-item {
      position: relative;
    }
    .fraction-wrapper, .fraction-top, .fraction-bottom { padding: 0 5px; }
    .fraction-wrapper {
      display: inline-block;
      text-align: center;
    }
    .fraction-bottom{
      border-top: 1px solid #000;
      display: block;
    }
    .fraction-option {
      display: inline-block;
      width: 10px;
      height: 10px;
      position: relative;
      bottom: 10px;
    }
  </style>
  <script src="../assets/scripts/vue.js"></script>
</head>
<body>

<div class="wrapper">
  <form name="calc" @submit.prevent="calculate">
    
    <div class="data-in" v-for="(fraction, index) in fractions" :key="index">
      <span class="close" @click="removeFraction(index)"></span>
  
      <select v-model="selectedOptions[ index - 1 ]" v-if="index > 0">
        <option v-for="option in options" :value="option">
          {{ option }}
        </option>
      </select>
  
      <div class="fraction">
        <input type="number" v-model.number="fraction.numeral">
        <hr>
        <input type="number" v-model.number="fraction.denominator">
      </div>
    </div>
    
    <form-result :data-value="result"></form-result>
    <form-result
        :data-value="reduceFraction"
        v-if="reduceFraction && reduceFraction.numeral"
    ></form-result>
    
    <p class="error" v-show="errorMessage.length">{{ errorMessage }}</p>
    
    <p class="action-bottom-wrapper">
      <a @click.prevent.stop="createFraction" class="action-bottom">ADD FRACTION</a>
      <span class="action-bottom" @click.self="resetCalculateFractions">
        CLEAR CALCULATE FIELDS
        <input type="checkbox" v-model="clearList">
      </span>
      <a @click.prevent.stop="removeFractionList" class="action-bottom">CLEAR FRACTION LIST</a>
    </p>
  </form>
  
  <div v-show="fractionList.length" v-for="list in fractionList">
    <div class="fraction-item">
      
      <span v-for="(fraction, index) in list.fractions ">
        <fractal-templ :fractal-object="fraction"></fractal-templ>
        <span class="fraction-option" v-if="list.options[ index ]">
          {{ list.options[ index ] }}
        </span>
      </span>
      
      <span class="fraction-option">=</span>
      <fractal-templ :fractal-object="list.result"></fractal-templ>
      
      <span v-if="list.reduceFraction.numeral">
        <span class="fraction-option">=</span>
        <fractal-templ :fractal-object="list.reduceFraction"></fractal-templ>
      </span>
    </div>
  </div>
</div>

<template id="form-result">
  <span>
    <button type="submit">=</button>
    <div class="fraction">
      <input type="number" readonly :value="dataValue.numeral"/>
      <hr />
      <input type="number" readonly :value="dataValue.denominator"/>
    </div>
  </span>
</template>

<template id="fractal-templ">
  <span class="fraction-wrapper">
    <span class="fraction-top">{{ fractalObject.numeral }}</span>
    <span class="fraction-bottom">{{ fractalObject.denominator }}</span>
  </span>
</template>

<script>
  const mathActions = {
    '+': function (numeral, denominator, fracNum, fracDen) {
      const num = (numeral * fracDen) + (fracNum * denominator),
        den = denominator * fracDen;
      
      return { num, den }
    },
    '-': function (numeral, denominator, fracNum, fracDen) {
      const num = (numeral * fracDen) - (fracNum * denominator),
        den = denominator * fracDen;
      
      return { num, den }
    },
    '*': function (numeral, denominator, fracNum, fracDen) {
      const num = numeral * fracNum,
        den = denominator * fracDen;
      
      return { num, den }
    },
    '/': function (numeral, denominator, fracNum, fracDen) {
      const num = numeral * fracDen,
        den = denominator * fracNum;
      
      return { num, den }
    }
  }
  
  const greatestCommonDivisor = (a, b) => {
    if (typeof a !== 'number' || typeof b !== 'number') throw "Impossible to find greatest common divisor for " + a + " and " + b;
    
    if (a < b) {
      const temp = b;
      
      b = a;
      a = temp;
    }
    
    if (b === 0) return 1;
    
    let divider = b;
    
    while (a % b !== 0) {
      const temp = b;
      
      b = a % b;
      a = temp;
      
      divider = b;
    }
    
    return divider;
  }
  
  // Reduce fraction to new denominator
  const simplify = (num, den) => {
    if (num < 0 && den < 0) {
      num *= -1;
      den *= -1;
    }
    
    const gcd = greatestCommonDivisor(num, den);
    
    num /= gcd;
    den /= gcd;
    
    return { num, den }
  }
  
  
  Vue.component('form-result', {
    template: "#form-result",
    props: ['dataValue']
  });
  
  Vue.component('fractal-templ', {
    template: "#fractal-templ",
    props: ['fractalObject']
  });
  
  new Vue({
    el: ".wrapper",
    data: {
      options: [ '+', '-', '*', '/' ],
      errorMessage: "",
      clearList: false,
      fractions: [],
      selectedOptions: [],
      result: { numeral: "", denominator: "" },
      reduceFraction: { numeral: "", denominator: "" },
      fractionList: []
    },
    
    mounted() {
      if (localStorage.getItem('fractionList')) {
        try {
          this.fractionList = JSON.parse(localStorage.getItem('fractionList'));
        } catch(e) {
          localStorage.removeItem('fractionList');
        }
      }
  
      if (localStorage.getItem('clearList')) {
        try {
          this.clearList = JSON.parse(localStorage.getItem('clearList'));
        } catch(e) {
          localStorage.removeItem('clearList');
        }
      }
  
      if (localStorage.getItem('fractions')) {
        try {
          this.fractions = JSON.parse(localStorage.getItem('fractions'));
        } catch(e) {
          localStorage.removeItem('fractions');
        }
      } else {
        this.fractions = [
          { numeral: 0, denominator: 0 },
          { numeral: 0, denominator: 0 },
        ];
      }
      
      if (localStorage.getItem('selectedOptions')) {
        try {
          this.selectedOptions = JSON.parse(localStorage.getItem('selectedOptions'));
        } catch(e) {
          localStorage.removeItem('selectedOptions');
        }
      } else {
        this.selectedOptions = [ "+" ];
      }
    },
    
    watch: {
      selectedOptions() {
        const parsed = JSON.stringify(this.selectedOptions);
        localStorage.setItem('selectedOptions', parsed)
        
        if (!this.selectedOptions.length) {
          localStorage.removeItem('selectedOptions');
        }
        
        this.resetResult();
        this.resetReduceFraction();
      },
      clearList() {
        const parsed = JSON.stringify(this.clearList);
        localStorage.setItem('clearList', parsed);
        localStorage.removeItem('fractions');
      },
      fractions: {
        handler(value) {
          if (!this.clearList) {
            const parsed = JSON.stringify(value);
            localStorage.setItem('fractions', parsed)
          }
        },
        deep: true
      }
    },
    
    methods: {
      saveFractionList() {
        const parsed = JSON.stringify(this.fractionList);
        localStorage.setItem('fractionList', parsed);
      },
      removeFractionList() {
        this.fractionList = [];
        this.saveFractionList();
      },
      
      resetResult() {
        this.result.numeral = "";
        this.result.denominator = "";
      },
      resetReduceFraction() {
        this.reduceFraction.numeral = "";
        this.reduceFraction.denominator = "";
      },
      resetCalculateFractions() {
        this.fractions = [
          { numeral: 0, denominator: 0 },
          { numeral: 0, denominator: 0 },
        ];
        this.selectedOptions = [ "+" ];
  
        this.resetResult();
        this.resetReduceFraction();
      },
      createFraction() {
        this.fractions.push({ numeral: 0, denominator: 0 }); // default
        this.selectedOptions.push("+"); // default
        
        this.resetResult();
        this.resetReduceFraction();
      },
      smallDenominator(numeral, denominator) {
        let { num, den } = simplify(numeral, denominator);
        
        if (numeral !== num || denominator !== den) {
          this.reduceFraction.numeral = num;
          this.reduceFraction.denominator = den;
        } else {
          this.resetReduceFraction();
        }
      },
      removeFraction(index) {
        this.fractions.splice(index, 1);
        this.selectedOptions.splice(index - 1, 1);
        
        this.resetResult();
        this.resetReduceFraction();
      },
      addToFractionList() {
        this.fractionList.unshift({
          fractions: Object.assign({}, this.fractions),
          options: Object.assign({}, this.selectedOptions),
          result: Object.assign({}, this.result),
          reduceFraction: Object.assign({}, this.reduceFraction)
        })
      },
      calculate() {
        let denominator = 0;
        let numeral = 0;
        
        this.fractions.forEach((fraction, index) => {
          const fracNum = parseInt(fraction.numeral);
          const fracDen = parseInt(fraction.denominator);
          
          this.errorMessage = this.validate(fraction);
          
          if (index === 0) {
            numeral = fracNum;
            denominator = fracDen;
          } else {
            const currentAction = this.selectedOptions[ index - 1 ];
            const operation = mathActions[currentAction];
            const { den, num } = operation(numeral, denominator, fracNum, fracDen);
            
            numeral = num;
            denominator = den;
          }
        })
        
        if (this.errorMessage.length) return;
        
        this.smallDenominator(numeral, denominator);
        
        this.result.numeral = numeral;
        this.result.denominator = denominator;
        
        this.addToFractionList();
        this.saveFractionList();
      },
      validate({ numeral, denominator }) {
        if (parseInt(numeral) === 0 || parseInt(denominator) === 0 ) return "Division by zero";
        if (isNaN(numeral) || isNaN(denominator)) return "Enter a number";
        
        return "";
      },
    }
  })
</script>
</body>
</html>