<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fraction calculator</title>
  <style>
    form {
      display: inline-block;
      margin: 0 auto;
    }
    input { width: 4em; }
    .data-in { display: inline-block; }
    .error { color: red; }
    .fraction {
      display: inline-block;
      vertical-align: middle;
      margin: 0 1em;
    }
    .add {
      cursor: pointer;
      text-decoration: underline;
    }
  </style>
  <script src="../assets/scripts/vue.js"></script>
</head>
<body>

<div class="wrapper">
  <form name="calc" @submit.prevent="calculate">
    
    <div class="data-in" v-for="(fraction, index) in fractions" :key="index">
      <select v-model="selectedOptions[ index - 1 ]" v-if="index > 0">
        <option v-for="option in options" :value="option">
          {{ option }}
        </option>
      </select>
      
      <div class="fraction">
        <input type="number" v-model.number="fraction.numeral">
        <hr>
        <input type="number" v-model.number="fraction.denominator">
      </div>
  
    </div>
    
    <form-result :data-value="result"></form-result>
    <form-result
        :data-value="reduceFraction"
        v-if="reduceFraction && reduceFraction.numeral"
    ></form-result>
    
    <p class="error" v-show="errorChecking.length">{{ errorChecking }}</p>
    
    <p>
      <a @click.prevent.stop="createFraction" class="add">ADD FRACTION</a>
    </p>
  </form>
  
  <pre>{{ $data }}</pre>
</div>

<template id="form-result">
  <span>
    <button type="submit">=</button>
    <div class="fraction">
      <input type="number" readonly :value="dataValue.numeral"/>
      <hr />
      <input type="number" readonly :value="dataValue.denominator"/>
    </div>
  </span>
</template>

<script>
  const mathActions = {
    '+': function (numeral, denominator, fracNum, fracDen) {
      const num = (numeral * fracDen) + (fracNum * denominator),
        den = denominator * fracDen;
      
      return { num, den }
    },
    '-': function (numeral, denominator, fracNum, fracDen) {
      const num = (numeral * fracDen) - (fracNum * denominator),
        den = denominator * fracDen;
  
      return { num, den }
    },
    '*': function (numeral, denominator, fracNum, fracDen) {
      const num = numeral * fracNum,
        den = denominator * fracDen;
  
      return { num, den }
    },
    '/': function (numeral, denominator, fracNum, fracDen) {
      const num = numeral * fracDen,
        den = denominator * fracNum;
  
      return { num, den }
    }
  }

  const greatestCommonDivisor = (a, b) => {
    if (typeof a !== 'number' || typeof b !== 'number') throw "Impossible to find greatest common divisor for " + a + " and " + b;
  
    if (a < b) {
      const temp = b;
    
      b = a;
      a = temp;
    }
  
    if (b === 0) return 1;
  
    let divider = b;
  
    while (a % b !== 0) {
      const temp = b;
    
      b = a % b;
      a = temp;
    
      divider = b;
    }
  
    return divider;
  }

  // Reduce fraction to new denominator
  const simplify = (num, den) => {
    if (num < 0 && den < 0) {
      num *= -1;
      den *= -1;
    }
  
    const gcd = greatestCommonDivisor(num, den);
  
    num /= gcd;
    den /= gcd;
  
    return { num, den }
  }

  
  Vue.component('form-result', {
    template: "#form-result",
    props: ['dataValue']
  });
  
  new Vue({
    el: ".wrapper",
    data: {
      options: [ '+', '-', '*', '/' ],
      fractions: [
        { numeral: 6, denominator: 5 },
        { numeral: 3, denominator: 4 },
      ],
      selectedOptions: [ "+" ],
      result: { numeral: "", denominator: "" },
      reduceFraction: {}
    },
    methods: {
      resetResult() {
        this.result.numeral = "";
        this.result.denominator = "";
      },
      createFraction() {
        this.fractions.push({ numeral: 0, denominator: 0 });
        this.selectedOptions.push("+");
        this.resetResult();
      },
      smallDenominator(numeral, denominator) {
        let { num, den } = simplify(numeral, denominator);
  
        if (numeral !== num || denominator !== den) {
          this.reduceFraction.numeral = num;
          this.reduceFraction.denominator = den;
        } else {
          delete this.reduceFraction.numeral;
          delete this.reduceFraction.denominator;
        }
      },
      calculate() {
        try {
        let denominator = 0;
        let numeral = 0;
        
        this.fractions.forEach((fraction, index) => {
          const fracNum = parseInt(fraction.numeral);
          const fracDen = parseInt(fraction.denominator);
          
          if (index === 0) {
            numeral = fracNum;
            denominator = fracDen;
          } else {
            const currentAction = this.selectedOptions[ index - 1 ];
            const operation = mathActions[currentAction];
            const { den, num } = operation(numeral, denominator, fracNum, fracDen);
  
            numeral = num;
            denominator = den;
          }
        })
        
        this.smallDenominator(numeral, denominator);
  
        this.result.numeral = numeral;
        this.result.denominator = denominator;
        } catch (err) {
          this.errorMessage = err.message
        }
      },
      validate({ numeral, denominator }) {
        console.log(numeral, denominator)
        if (parseInt(numeral) === 0 || parseInt(denominator) === 0 ) return "Division by zero";
        if (isNaN(numeral) || isNaN(denominator)) return "Enter a number";
        return "";
      },
    },
    computed: {
      errorChecking() {
        let errorMessage;
        
        for (let i = 0; i < this.fractions.length; i++) {
          const fraction = this.fractions[ i ];

          errorMessage = this.validate(fraction);
        }
        
        return errorMessage;
      }
    }
  })
</script>
</body>
</html>

