<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue component and input</title>
  <link rel="stylesheet" href="../assets/styles/bootstrap.min.css">
  <script src="../assets/scripts/vue.js"></script>
</head>
<body>


<div id="order-form" class="container">
  <form-data :form="form" @show-info-event="handleShowInfo" v-show="!showInfo"></form-data>
  
  <form-info :form="form" v-show="showInfo"></form-info>
</div>

<template id="form-fields">
  <form @submit.prevent="handleShowInfoLocal">
    <input
        type="text"
        placeholder="First Name"
        v-model.lazy.trim="form.firstName"
        v-focus
    />
    <br />
    <input
        type="text"
        placeholder="Last Name"
        v-model.lazy.trim="form.lastName"
    />
    <br />
    <input
        type="number"
        v-model.lazy.trim="form.age"
        placeholder="Age"
    />
    <br />
    
    <label>
      <input
          type="radio"
          name="gender"
          value="male"
          v-model="form.gender"
      /> Male
    </label>
    <br />
    <label>
      <input
          type="radio"
          name="gender"
          value="female"
          v-model="form.gender"
      /> Female
    </label>
    <br />
    
    <select v-model="form.destination">
      <option value="">-- Please Choose a destination --</option>
      <option v-for="(value, key) in form.selectOptions" :value="key" :key="key">
        {{ value }}
      </option>
    </select>
    <br />
    <label>
      <input
          type="checkbox"
          v-model="form.isVegan"
      /> Vegan?
    </label>
    <br />
    
    <label>
      <input
          type="checkbox"
          v-model="form.isKosher"
      /> Kosher?
    </label>
    <br />
    
    <label>
      <input
          type="checkbox"
          v-model="form.isLactoseFree"
      /> Lactose Free?
    </label>
    <br />
    
    <button>Submit</button>
  </form>

</template>

<template id="form-info">
  <div>
    <h2><font color="#3AC1EF">Entered information:</font></h2>
    <p>Your name: {{ form.firstName }} {{ form.lastName }}</p>
    <p>Your age: {{ form.age }}</p>
    <p>Your gender: {{ form.gender }}</p>
    <p>Your destination: {{ form.destination }}</p>
    <p>Your dietary restrictions:</p>
    
    <p>Vegan: {{ form.isVegan ? "Yes" : "No" }}</p>
    <p>Kosher: {{ form.isKosher ? "Yes" : "No" }}</p>
    <p>Lactose Free: {{ form.isLactoseFree ? "Yes" : "No" }}</p>
  </div>
</template>

<script>
  /***********************************************
   1. Print the form and fill in the data.
   After submitting the form, display all the data entered in the form, and hide the input form.
   While the form is not submitted, hide the data output from the screen.
   Display the form and display the results of filling out the form in two separate components
   */
  
  Vue.directive('focus', {
    inserted: function (el) {
      el.focus()
    }
  })
  
  Vue.component('form-data', {
    template: "#form-fields",
    props: ['form'],
    methods: {
      handleShowInfoLocal: function () {
        this.$emit('show-info-event')
      }
    }
  });
  
  Vue.component('form-info', {
    template: "#form-info",
    props: ['form']
  });
  
  new Vue({
    el: "#order-form",
    data: {
      form: {
        firstName: "",
        lastName: "",
        age: "",
        gender: "",
        destination: "",
        isVegan: false,
        isKosher: false,
        isLactoseFree: false,
        selectOptions: {
          "germany": "Germany",
          "norway": "Norway",
          "north-pole": "North Pole",
          "south-pole": "South Pole"
        },
      },
      showInfo: false
    },
    methods: {
      handleShowInfo: function () {
        this.showInfo = true;
      },
    }
  })

</script>

<hr>

<div id="price-order" class="container">
  <div v-show="!successOrder">
    <h2>Cart</h2>
    
    <table class="table">
      <thead>
      <tr>
        <td>Title</td>
        <td>Price</td>
        <td>Count</td>
        <td>Total</td>
      </tr>
      </thead>
      <tbody>
      <template>
        <cart-table-row
            v-for="(product, index) in products"
            :key="product.id"
            :product="product"
            :handle-remove-item="() => handleRemoveItem(index)"
        ></cart-table-row>
      </template>
      <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td>
          <strong>{{ totalPrice() }}</strong>
        </td>
        <td>
          <button @click="handleOrder">Checkout</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  
  <h2 v-show="successOrder">Congratulations! Your order in the amount of {{ totalPrice() }} rubles has been successfully placed!</h2>
</div>


<template id="cart-table-row">
  <tr>
    <td>{{ product.title }}</td>
    <td>{{ product.price }}</td>
    <td>
      <button @click="handleDecrease">-</button>
      <input type="number" v-model.number.lazy="handleSetValue">
      <button @click="handleIncrease">+</button>
    </td>
    <td>{{ total }}</td>
    <td><button @click="handleRemoveItem">Delete</button></td>
  </tr>
</template>


<script>
  /***********************************************
   2. Display data from `products` in a table.
   - To work with the quantity of goods, add input and two + - buttons.
   - The quantity of goods can be entered in input.
   - The quantity of goods can be changed using the +/- buttons
   - each product has a delete button from the basket
   - the final order value and the cost of each product are calculated.
   - add a checkout button, after clicking on which the form closes and displays the final screen with congratulations and order value
   */
  Vue.component('cart-table-row', {
    template: "#cart-table-row",
    props: [ 'product', 'handle-remove-item'],
    methods: {
      handleDecrease() {
        this._setLimitProduct(this.product.current - 1)
      },
      handleIncrease() {
        this._setLimitProduct(this.product.current + 1)
      },
      _setLimitProduct(newCurrent) {
        const count = Math.min(Math.max(newCurrent, 0), this.product.rest);
        this.product.current = count;
      }
    },
    computed: {
      handleSetValue: {
        get() {
          return this.product.current;
        },
        set(newVal){
          this._setLimitProduct(newVal)
        }
      },
      total() {
        const { price, current } = this.product;
        
        return price * current;
      }
    }
  });
  
  
  const products = [
    {
      id: 100,
      title: 'Ipnone 200',
      price: 12000,
      rest: 10, //in the warehouse
      current: 1 //how many put in the basket
    },
    {
      id: 101,
      title: 'Samsung AAZ8',
      price: 22000,
      rest: 5,
      current: 1
    },
    {
      id: 103,
      title: 'Nokia 3310',
      price: 5000,
      rest: 2,
      current: 1
    },
    {
      id: 105,
      title: 'Huawei ZZ',
      price: 15000,
      rest: 8,
      current: 1
    }
  ];
  
  new Vue({
    el: "#price-order",
    data: {
      products,
      successOrder: false
    },
    methods: {
      handleOrder() {
        this.successOrder = true
      },
      handleRemoveItem(index) {
        this.$delete(this.products, index)
      },
      totalPrice() {
        const _countPrice = (product) => product.price * product.current;
        
        return products.reduce((before, product) => {
          return before + _countPrice(product)
        }, 0)
      }
    },
  })

</script>
</body>
</html>