<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fraction calculator</title>
  <style>
    form {
      display: inline-block;
      margin: 0 auto;
    }
    input { width: 4em; }
    .data-in { display: inline-block; }
    #error { color: red; }
    .fraction {
      display: inline-block;
      vertical-align: middle;
      margin: 0 1em;
    }
    .add {
      cursor: pointer;
      text-decoration: underline;
    }
  </style>
  <script src="../assets/scripts/vue.js"></script>
</head>
<body>

<div class="wrapper">
  <form name="calc">
    
    <div class="data-in" v-for="(fraction, index) in fractions" :key="index">
      <select v-model="selectedOptions[ index - 1 ]" v-if="index > 0">
        <option v-for="option in options" :value="option">
          {{ option }}
        </option>
      </select>
      
      <div class="fraction">
        <input type="number" v-model="fraction.significant">
        <hr>
        <input type="number" v-model="fraction.numeral">
      </div>
  
    </div>
    
    <button type="submit" @click.prevent.stop="calculate">=</button>
    
    <div class="fraction">
      <input type="text" readonly :value="result.significant"/>
      <hr />
      <input type="text" readonly :value="result.numeral"/>
    </div>
    
    <p id="error"></p>
    
    <p>
      <a @click.prevent.stop="createFraction" class="add">ADD FRACTION</a>
    </p>
  </form>
  
  <pre>{{ $data }}</pre>
</div>

<script>
  const mathActions = {
    '+': function (x, y) { return x + y },
    '-': function (x, y) { return x - y },
    '*': function (x, y) { return x * y },
    '/': function (x, y) { return x / y },
  }
  
  new Vue({
    el: ".wrapper",
    data: {
      options: [ '+', '-', '*', '/' ],
      fractions: [
        { significant: 5, numeral: 66 },
        { significant: 1, numeral: 3 }
      ],
      selectedOptions: [ "+" ],
      result: { significant: "", numeral: "" }
    },
    methods: {
      createFraction() {
        this.fractions.push({ significant: "0", numeral: "0" });
        this.selectedOptions.push("+");
      },
      calculate() {
        let significant = 0;
        let numeral = 0;
        
        this.fractions.forEach((fraction, index) => {
          if (index === 0) {
            significant = parseInt(fraction.significant);
            numeral = parseInt(fraction.numeral);
          } else {
            const currentAction = this.selectedOptions[ index - 1 ];
            
            significant = mathActions[currentAction](significant, parseInt(fraction.significant));
            numeral = mathActions[currentAction](numeral, parseInt(fraction.numeral));
          }
        })
  
        this.result.significant = significant;
        this.result.numeral = numeral;
      }
    },
    
  })
</script>
</body>
</html>

